* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: inter, sans-serif;
  background-color: #282d35;
}

nav {
  background-color: #21222a;
  display: flex;
  align-items: center;
  padding: 1em 1em;
}

.nav-logo-text,
.nav-text {
  margin: 0;
}

.logo {
  width: 60px;
  margin-right: 10px;
}
.nav-logo-text {
  color: #61dafb;
  margin-right: auto;
  font-size: 1.4rem;
}
.nav-text {
  color: #deebf8;
}

main {
  /* background-color: #282d35; */
  color: #fff;
  padding: 4em 2em;
  background-image: url("../src/images/react-icon-large.png");
  background-repeat: no-repeat;
  background-position: right 75%;
}
.main-heading {
  margin: 0;
  font-size: 2.5em;
  letter-spacing: -0.05em;
}
.list-facts {
  line-height: 2.2em;
  padding-top: 1.5em;
  max-width: 400px;
}
.list-facts > li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}
